.register_box{
	margin-left: 300px;
}
.form-login{width:410px;height:380px;border:5px solid #d8d8d8;padding:3px}
.form-login h2{font:bold 14px/60px simsun;border-top:3px solid #f60;padding-left:20px}
.form-login .input{padding:12px 30px}
.form-login label{font-size:14px;width:60px;display:inline-block;text-align:right}
.form-login .input .input-text,.input-focus{height: 16px;line-height: 16px;padding: 10px;border: 1px solid #E8E8E8;box-shadow: inset 0 1px 0 #CFCFCF;}
.form-login .input img{vertical-align:middle;display:inline-block}
.form-login .input sapn{color: #d62222;font-size: 12px}
.form-login .take{margin:5px auto;padding-left:90px}

.login_uniom {padding:10px 0px 5px 20px;border-bottom:1px dotted #CCC;width:305px;margin:0 auto}

.form-reg{padding:10px 0 0 14px; width:500px; border:none;height: 512px;width: 900px}
.form-reg .input label{ width:120px}
.form-reg .input label.type{ width:auto; color:#000; padding-right:10px}
.form-reg .reg{padding:10px 0 10px 80px;margin-left:0}
.form-reg .reg .submit{ margin-bottom:5px}

.reg{text-align:right;padding:5px 12px 0 0;width:305px;margin:0 auto}
.reg a{color:#be1d3e}
.reg a:hover{color:#000}

.submit{width:250px;height:40px;margin:0 auto}
.submit2{margin-left:160px;margin-top: 20px}
.submit3{margin:14px 0}
.submit input{cursor:pointer;border:0;border-radius:3px;display:block;background:none;background:#be1d3e;font:bold 14px/40px simsun;color:#fff;text-align:center;width:250px;height:40px}
.submit input:hover{filter: alpha(opacity=90);-moz-opacity: .9;opacity: .9;}
.check{display: inline-block}
.check span{font-size: 12px;color: #e6261e}