<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shisheng.dao.ChildCommodityTypeMapper" >
    <select id="getChildTypeByParentId" resultType="ChildCommodityType">
        SELECT * FROM child_commodity_type
        WHERE child_commodity_type.parent_id = #{id}

    </select>

    <insert id="addChildType">


    </insert>

</mapper>