<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shisheng.dao.PlatformMapper" >

  <insert id="addPlatform" parameterType="Platform" >
    insert into platform (id, platform_name, link, 
      image_addr, introduce,region)
    values (#{id,jdbcType=VARCHAR}, #{platformName,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{imageAddr,jdbcType=VARCHAR}, #{introduce,jdbcType=LONGVARCHAR},#{region,jdbcType=VARCHAR})
  </insert>

  <update id="updatePlatform" parameterType="Platform">
      UPDATE platform
       set platform_name = #{platformName},
        introduce = #{introduce},
        link = #{link},
        image_addr = #{imageAddr},
        region = #{region}
        WHERE id = #{id}
  </update>

    <select id="getImageAddrs" resultType="String">
         SELECT image_addr FROM  platform
    </select>

  <delete id="deletePlatformById">
    DELETE FROM platform WHERE id = #{id}
  </delete>

  <select id="getPlatformList" resultType="Platform">
    SELECT * FROM  platform
  </select>

  <select id="getPlatformDetail" resultType="Platform">
    SELECT * FROM  platform WHERE id =#{id}
  </select>

</mapper>