<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shisheng.dao.UserMapper">


  <insert id="addUser" parameterType="User">
    INSERT ignore INTO user (id,login_name,nickname,password,register_time)
    VALUES
    (#{id},#{loginName} , #{nickname},#{password},#{registerTime})

  </insert>


    <select id="getUserByCondition" resultType="User">
        SELECT * FROM user WHERE 1=1
        <if test="state!=null">
            AND user.state = #{state}
        </if>
        <if test="property!=null">
            AND user.property = #{property}
        </if>
        ORDER BY register_time DESC
    </select>


  <select id="getUserByUserName" resultType="User">
    SELECT  * FROM  user WHERE login_name = #{loginName}
  </select>

  <update id="updateUser" parameterType="User">
    UPDATE user
    set user.age=#{age},
     user.phone=#{phone},
     user.sex=#{sex},
     user.email=#{email},
     user.nickname=#{nickname}
    WHERE user.login_name = #{loginName}
  </update>

    <update id="updatePassword">
        UPDATE user set user.password = #{password}
        WHERE user.login_name = #{loginName}
    </update>

    <update id="updateState">
        UPDATE user set user.state = #{state}
        WHERE user.id = #{id}
    </update>

    <update id="updateProperty">
        UPDATE user set user.property = #{property}
        WHERE user.id = #{id}
    </update>

</mapper>